<a href="https://colab.research.google.com/github/olgagasowska/Technical-Data-Analysis/blob/main/TDA_SQL_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## implementing SQL in Python: sqlite3

!pip install sqlite3

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [ ]:
import sqlite3

In [ ]:
# connector, it opens a ne file in the files in Colab, establishing connection
conn = sqlite3.connect('database.db')

In [ ]:
cursor = conn.cursor() # I want to use that connection between file and colab and interact with it via cursor
# establishing the interaction

In [ ]:
# everything that is within the brackers is an sql query
# real = float number
cursor.execute("CREATE TABLE students (name TEXT, grade REAL)")

In [ ]:
# now you can see the executed thing

In [ ]:
cursor.execute("INSERT INTO students VALUES ('John', 4)") # in "execute" we put only one thing

In [ ]:
cursor.execute("SELECT * FROM students")

In [ ]:
all_students = cursor.fetchall() # assigning it to the variable all_students

In [ ]:
all_students

[('John', 4.0)]

In [ ]:
# creating an empty liat we can include into
students_list = [("Mary", 3), ("Patrick", 2)]

In [ ]:
# inserting more values
cursor.executemany("INSERT INTO students (name, grade) VALUES (?, ?)", students_list) # let's put sth in this format
# we want to fill name and grade with values: value a separated by comma from value b

In [ ]:
all_students = cursor.fetchall()

In [ ]:
print(all_students)

[]